@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.contact-form {
  @include max-inline-size-fix(21.4rem);
  @include logical-padding-shorthand(1.05rem, 1.47rem);

  background-color: $color-neutral-white;
  border-radius: 1rem;

  &__heading {
    margin-block-end: 1.45rem;
    font-size: $font-size-headings;
    color: $color-neutral-dark-green;
    letter-spacing: -0.06rem;
  }

  &__form {
    @include flex-shorthand($flex-direction: column, $gap: 1.5rem);
  }

  &__field {
    @include flex-shorthand($flex-direction: column, $gap: 0.5rem);
  }

  &__field--flex-row {
    display: flex;
    gap: 1.1rem;
    align-items: center;
    block-size: 3.18rem;
    padding-inline-start: 1.8rem;
    font-size: 1.115rem;
    border: 0.01rem solid $color-neutral-medium-green;
    border-radius: 0.5rem;
  }

  &__field--flex-row:not(:last-child) {
    margin-block-end: 1rem;
  }

  &__label {
    color: $color-neutral-dark-green;
  }

  &__label-text {
    position: relative;
  }

  &__label-text::after,
  &__legend-text::after {
    @include absolute-shorthand($inset-inline-end: -0.96rem);

    color: $color-primary-medium-green;
    content: "\002A";
  }

  &__input {
    block-size: 3.18rem;
    border: 0.01rem solid $color-neutral-medium-green;
    border-radius: 0.5rem;
  }

  &__fieldset {
    padding: 0;
    border: 0;
  }

  &__legend {
    padding: 0;
    margin-block-end: 1.05rem;
    color: $color-neutral-dark-green;
  }

  &__legend-text {
    position: relative;
  }

  &__radio {
    transform: scale(1.5);
  }

  &__message {
    block-size: 15rem;
    resize: none;
    border-color: $color-neutral-medium-green;
    border-radius: 0.5rem;
  }
}
