@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.contact-form {
  @include max-inline-size-fix(21.4rem);
  @include logical-padding-shorthand(1.05rem, 1.47rem, 1.55rem, 1.47rem);

  position: relative;
  background-color: $color-neutral-white;
  border-radius: 1rem;

  &__status-bar {
    display: none;

    &--status-active {
      @include absolute-shorthand(
        $inset-block-start: 0,
        $inset-inline-start: 0
      );
      @include flex-shorthand(column, 1rem);
      @include logical-padding-shorthand(1.7rem, 1.5rem, 1.7rem, 1.5rem);

      background-color: $color-neutral-dark-green;
      border-radius: 0.5rem;
      transform: translateY(-90%);
    }
  }

  &__heading-block {
    @include flex-shorthand($gap: 0.75rem);
  }

  &__icon {
    max-inline-size: 1.5rem;
    max-block-size: 1.5rem;
  }

  &__heading {
    margin-block-end: 1.45rem;
    font-size: 2rem;
    color: $color-neutral-dark-green;
    letter-spacing: -0.06rem;

    &--for-status-bar {
      font-weight: $font-weight-bold;
      color: $color-neutral-white;
    }
  }

  &__description {
    color: $color-neutral-white;
  }

  &__form {
    @include flex-shorthand($flex-direction: column, $gap: 1.5rem);
  }

  &__checkbox-container {
    @include flex-shorthand($gap: 1.3rem);

    padding-inline-start: 0.4rem;

    &--validation-failed-margin {
      margin-block-end: 0.5rem;
    }
  }

  &__input-field {
    &--type-text,
    &--type-email {
      @include flex-shorthand($flex-direction: column, $gap: 0.5rem);
    }

    &--type-radio {
      @include flex-shorthand($gap: 1.094rem, $align-items: center);
      @include logical-padding-shorthand(0.7rem, 1.8rem, 0.7rem);

      cursor: pointer;
      border: 0.01rem solid $color-neutral-medium-green;
      border-radius: 0.5rem;

      &:not(:last-of-type) {
        margin-block-end: 1rem;
      }

      &:has(.contact-form__input:checked) {
        background-color: $color-primary-light-green;
        border-color: $color-primary-medium-green;
        box-shadow: 0 0 0.07rem $color-primary-medium-green;
      }
    }

    &--type-checkbox {
      margin-block-end: 1rem;
    }

    &--type-textarea {
      @include flex-shorthand(column, 0.5rem);

      margin-block-end: 1rem;
    }

    &--validation-failed-margin {
      margin-block-end: 0.5rem;
    }
  }

  &__label {
    inline-size: fit-content;
    color: $color-neutral-dark-green;

    &--type-radio {
      font-size: 1.115rem;
      cursor: pointer;
    }
  }

  &__label-text,
  &__legend-text {
    position: relative;

    &::after {
      @include absolute-shorthand($inset-inline-end: -0.96rem);

      color: $color-primary-medium-green;
      content: "\002A";
    }
  }

  &__input {
    &--type-text,
    &--type-email,
    &--type-textarea {
      border: 0.01rem solid $color-neutral-medium-green;
      border-radius: 0.5rem;
    }

    &--type-text,
    &--type-email {
      padding-block: 0.78rem;
      cursor: pointer;

      @media (hover: hover) {
        &:hover {
          border-color: $color-primary-medium-green;
          box-shadow: 0 0 0.07rem $color-primary-medium-green;
        }
      }

      &:focus {
        border-color: $color-primary-medium-green;
        outline: 0;
        box-shadow: 0 0 0.07rem $color-primary-medium-green;
      }
    }

    &--type-radio {
      accent-color: $color-primary-medium-green;
      cursor: pointer;
      transform: scale(1.5);
    }

    &--type-textarea {
      block-size: 15rem;
      resize: none;
    }

    &--type-checkbox {
      accent-color: $color-primary-medium-green;
      transform: scale(1.4);
    }

    &--validation-error {
      border-color: $color-primary-red;
    }
  }

  &__input-validation-description {
    display: none;

    &--validation-error {
      display: block;
      color: $color-primary-red;

      &--type-checkbox {
        margin-block-end: 1rem;
      }
    }
  }

  &__input-fieldset {
    padding: 0;
    border: 0;
  }

  &__legend {
    padding: 0;
    margin-block-end: 1rem;
    color: $color-neutral-dark-green;
  }

  &__submit-button {
    @include color-shorthand($color-neutral-white, $color-primary-medium-green);

    padding-block: 1.14rem;
    font: $font-weight-bold 1.13rem $font-family-sans-serif;
    cursor: pointer;
    border: 0;
    border-radius: 0.5rem;

    @media (hover: hover) {
      &:hover {
        background-color: $color-neutral-dark-green;
      }
    }
  }
}
