/* stylelint-disable selector-class-pattern */
@use "../../../scss/abstracts/variables" as *;
@use "../../../scss/abstracts/mixins" as *;

.contact-form__title {
  margin-block-end: 1.45rem;
  font-size: 2rem;
  color: $color-neutral-dark-green;
  letter-spacing: -0.06rem;
}
