/* stylelint-disable selector-class-pattern */
@use "../../../../scss/abstracts/variables" as *;
@use "../../../../scss/abstracts/mixins" as *;

.contact-form__input--type-text {
  padding-block: 0.78rem;
  cursor: pointer;
  border: 0.01rem solid $color-neutral-medium-green;
  border-radius: 0.5rem;

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 0 0.07rem $color-primary-medium-green;
    }
  }

  &:focus {
    outline: 0;
    box-shadow: 0 0 0.07rem $color-primary-medium-green;
  }
}
