@mixin flex-shorthand(
  $flex-direction: null,
  $align-items: null,
  $justify-content: null,
  $gap: null
) {
  display: flex;
  flex-flow: $flex-direction nowrap;
  gap: $gap;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin max-inline-size-fix($max-inline-size: null) {
  inline-size: 100%;
  max-inline-size: $max-inline-size;
}

@mixin logical-padding-shorthand($padding-block: null, $padding-inline: null) {
  padding-block: $padding-block $padding-block;
  padding-inline: $padding-inline $padding-inline;
}

@mixin absolute-shorthand(
  $inset-block-start: null,
  $inset-inline-end: null,
  $inset-block-end: null,
  $inset-inline-start: null
) {
  position: absolute;
  inset-block-start: $inset-block-start;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  inset-block-end: $inset-block-end;
  inset-inline-start: $inset-inline-start;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  inset-inline-end: $inset-inline-end;
}
