/* ******************************************** */

/* SHORTHAND MIXINS */

/* ******************************************** */

@mixin absolute-shorthand(
  $inset-block-start: auto,
  $inset-inline-end: auto,
  $inset-block-end: auto,
  $inset-inline-start: auto
) {
  position: absolute;
  inset-block: $inset-block-start $inset-block-end;
  inset-inline: $inset-inline-start $inset-inline-end;
}

@mixin flex-shorthand(
  $flex-direction: row,
  $gap: null,
  $align-items: null,
  $justify-content: null
) {
  display: flex;
  flex-flow: $flex-direction nowrap;
  gap: $gap;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin max-size-shorthand($max-inline-size, $max-block-size) {
  max-inline-size: $max-inline-size;
  max-block-size: $max-block-size;
}

@mixin logical-padding-shorthand(
  $padding-block-start: 0,
  $padding-inline-start: 0,
  $padding-block-end: 0,
  $padding-inline-end: 0
) {
  padding-block: $padding-block-start $padding-block-end;
  padding-inline: $padding-inline-start $padding-inline-end;
}

@mixin color-shorthand($color: null, $background-color: null) {
  color: $color;
  background-color: $background-color;
}

/* ******************************************** */

/* FIX MIXINS */

/* ******************************************** */

@mixin max-inline-size-fix($max-inline-size: null) {
  inline-size: 100%;
  max-inline-size: $max-inline-size;
}
