@use "../../scss/abstracts/variables" as *;
@use "../../scss/abstracts/mixins" as *;

.contact-form {
  @include max-inline-size-fix(21.4rem);
  @include logical-padding-shorthand(1.05rem, 1.47rem, 1.55rem, 1.47rem);

  background-color: $color-neutral-white;
  border-radius: 1rem;

  @include media-up-shorthand(desktop) {
    @include logical-padding-shorthand(
      $padding-block-start: 2.05rem,
      $padding-block-end: 2.45rem,
      $padding-inline-start: 2.5rem,
      $padding-inline-end: 2.5rem
    );

    max-inline-size: 46rem;
  }
}
