@use "../../abstracts/variables" as *;
@use "../../abstracts/mixins" as *;

.contact-form {
  @include max-inline-size-fix(21.4rem);
  @include logical-padding-shorthand(1.05rem, 1.47rem, 1.55rem, 1.47rem);

  background-color: $color-neutral-white;
  border-radius: 1rem;

  &__title {
    margin-block-end: 1.45rem;
    font-size: 2rem;
    color: $color-neutral-dark-green;
    letter-spacing: -0.06rem;
  }

  &__input-field-list {
    @include flex-shorthand($flex-direction: column, $gap: 1.5rem);

    padding: 0;
    margin-block-end: 2.5rem;
    list-style: none;

    &--type-radio {
      gap: 1rem;
      margin-block-end: 0;
    }
  }

  &__input-field {
    @include flex-shorthand($flex-direction: column, $gap: 0.5rem);

    &--type-radio {
      @include flex-shorthand($gap: 1.094rem, $align-items: center);
      @include logical-padding-shorthand(0.7rem, 1.8rem, 0.7rem);

      cursor: pointer;
      border: 0.01rem solid $color-neutral-medium-green;
      border-radius: 0.5rem;

      &:has(.contact-form__input--type-radio:checked) {
        background-color: $color-primary-light-green;
        border-color: $color-primary-medium-green;
        box-shadow: 0 0 0.07rem $color-primary-medium-green;
      }
    }

    &--type-checkbox {
      @include logical-padding-shorthand(
        $padding-block-start: 1rem,
        $padding-inline-start: 0.3rem
      );
    }
  }

  &__input-label {
    inline-size: fit-content;
    color: $color-neutral-dark-green;

    &--type-radio {
      font-size: 1.115rem;
      cursor: pointer;
    }
  }

  &__input-label-text,
  &__input-fieldset-legend {
    position: relative;

    &::after {
      @include absolute-shorthand($inset-inline-end: -0.96rem);

      color: $color-primary-medium-green;
      content: "\002A";
    }
  }

  &__input {
    &--type-text,
    &--type-email,
    &--type-textarea {
      border: 0.01rem solid $color-neutral-medium-green;
      border-radius: 0.5rem;
    }

    &--type-text,
    &--type-email {
      padding-block: 0.78rem;
      cursor: pointer;

      @media (hover: hover) {
        &:hover {
          border-color: $color-primary-medium-green;
          box-shadow: 0 0 0.07rem $color-primary-medium-green;
        }
      }

      &:focus {
        border-color: $color-primary-medium-green;
        outline: 0;
        box-shadow: 0 0 0.07rem $color-primary-medium-green;
      }
    }

    &--type-radio {
      accent-color: $color-primary-medium-green;
      cursor: pointer;
      transform: scale(1.5);
    }

    &--type-textarea {
      block-size: 15rem;
      resize: none;
    }

    &--type-checkbox {
      accent-color: $color-primary-medium-green;
      transform: scale(1.4);
    }

    &--invalidated {
      border-color: $color-primary-red;
    }
  }

  &__input-validation-error-message {
    display: none;

    &--visible {
      display: block;
      color: $color-primary-red;
    }
  }

  &__input-fieldset {
    @include flex-shorthand($flex-direction: column, $gap: 0.5rem);

    padding: 0;
    border: 0;
  }

  &__input-fieldset-legend {
    padding: 0;
    margin-block-end: 1rem;
    color: $color-neutral-dark-green;
  }

  &__checkbox-input-wrapper {
    @include flex-shorthand($gap: 1.4rem);
  }

  &__button {
    &--type-submit {
      @include color-shorthand(
        $color-neutral-white,
        $color-primary-medium-green
      );

      inline-size: 100%;
      padding-block: 1.14rem;
      font: $font-weight-bold 1.13rem $font-family-sans-serif;
      cursor: pointer;
      border: 0;
      border-radius: 0.5rem;

      @media (hover: hover) {
        &:hover {
          background-color: $color-neutral-dark-green;
        }
      }
    }
  }
}
